#Mon Dec 02 21:20:13 IST 2024
mail.smtp.other.host=
mail.smtp.username=ENC1(KwvV3HmOlKZ3kxXq3MtAnw9bfwnGdZH3/3YicXzDDtM83Jq9wzIHXiFu6GGpKjjybxwBV0f0HXAcfLM42AwKRJUDyGv0AejhdIc26oreSzQ\=)
mail.smtp.port=587
mail.smtp.toEmail=ENC1(kvwKdYx9eAO/TrFYrHrLkmeFWjbqJq+NzKcRDQ08K/hfkFb5d3aDShjcw3jz/dMqUFSGcwuKGxuWIcoQ8SXQHw\=\=)
mail.smtp.other.port=
mail.smtp.password=ENC1(UNbKUfR4bEjl3d4ySfAYcGHpPBSb7FroAjW8dh/QOiNtT16x20XN+cb2vPA4aY3rmxpN2HV3Z+qu6Guka7hXDw\=\=)
mail.smtp.starttls.enable=false
mail.smtp.host=smtp.gmail.com
mail.smtp.ssl.enable=true
mail.smtp.starttls.required=false
mail.smtp.timeout=60000
Encryptor.check=Provar
